################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bizlite/DesignTimeBuild/.dtbcache.v2
/.vs/Bizlite/FileContentIndex/63832d5e-17f6-471c-a658-113e8918e801.vsidx
/.vs/Bizlite/FileContentIndex/6107d447-bd1d-4f1b-be0a-942513e35586.vsidx
/.vs/Bizlite/FileContentIndex/5df28c1c-97c0-43f2-ac5c-41815731afcd.vsidx
